@font-face {
    font-family: pump-bold;
    src: url("../fonts/AnyConv.com__PumpOpti-DemiBold.ttf");
}
@font-face {
    font-family: pump-medium;
    src: url("../fonts/AnyConv.com__PumpOpti-Medium.ttf");
}